<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Boolzapp</title>
		<link rel="stylesheet" href="css/app.css" />
		<script
			src="https://kit.fontawesome.com/a14ed7ec88.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div id="app">
			<div class="app__body container">
				<!-- app left sidebar  -->
				<aside class="app__sidebar">
					<div class="contact sidebar__heading-profile">
						<figure class="profile__avatar-wrapper">
							<img class="profile__avatar" src="./img/avatar_1.jpg" alt="" />
						</figure>
						<div class="profile__name-wrapper">
							<h4 class="profile__name">Gianluca</h4>
						</div>
						<ul class="menu-icons">
							<li class="icon">
								<i class="fa-solid fa-circle-notch"></i>
							</li>
							<li class="icon">
								<i class="fa-solid fa-message"></i>
							</li>
							<li class="icon">
								<i class="fa-solid fa-ellipsis-vertical"></i>
							</li>
						</ul>
					</div>

					<div class="sidebar__box-alert">
						<div class="control__bell">
							<i class="fa-solid fa-bell-slash"></i>
						</div>

						<div class="notification__wrapper">
							<h4>Ricevi notifiche di nuovi messaggi</h4>
							<p>Lorem ipsum dolor sit amet et?</p>
						</div>
					</div>

					<div class="sidebar__search-box">
						<div class="input__group">
							<button class="search__button">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
							<input
								class="search__text"
								type="text"
								placeholder="Cerca o inizia una nuova chat"
								v-model="searchBox"
							/>
						</div>
					</div>

					<div class="sidebar__body">
						<ul class="contacts">
							<li
								class="body__profile"
								v-for="(contact, index) in filteredList" :key="contact"  :log="console.log(filteredList)"
								:class="{
                                    'active': index === currentIndex,
							
                                }"
								@click="currentIndex = index"
							>
								<div class="contact">
									<figure class="profile__avatar-wrapper">
										<img class="profile__avatar" :src="contact.avatar" alt="" />
									</figure>

									<div class="profile__name-wrapper">
										<h4 class="profile__name">{{ contact.name }}</h4>


										<div class="profile__text-wrapper">
											
											<p
												class="profile__last-message" 
												
											>
												<span
													><i
														class="fa-solid fa-check"
														style="color: #929292"
													></i
												></span>
												{{ contact.messages[contact.messages.length - 1].message }}
											</p>
										</div>
									</div>
								</div>
								<span class="time">12:00</span>
							</li>
						</ul>
					</div>
				</aside>

				<!-- finish sidebar left -->

				<!-- app main content -->
				<main class="app__main">
					<div class="main__heading-status">
						<div class="contact">
							<figure class="profile__avatar-wrapper">
								<img
									class="profile__avatar"
									:src="filteredList[currentIndex].avatar"
									alt=""
								/>
							</figure>
							<div class="profile__name-wrapper">
								<h4 class="profile__name">{{filteredList[currentIndex].name}}</h4>
								<p class="profile__last-acces">
									Ultimo accesso oggi alle 14:36
								</p>
							</div>
							<ul class="menu-icons">
								<li class="icon">
									<i class="fa-solid fa-magnifying-glass"></i>
								</li>
								<li class="icon">
									<i class="fa-solid fa-paperclip"></i>
								</li>
								<li class="icon">
									<i class="fa-solid fa-ellipsis-vertical"></i>
								</li>
							</ul>
						</div>
					</div>

					<div class="main__body-message">
						<ul class="message__wrapper">
							<li
								class="message"
								:class="{
                                'left': singleMessage.status === 'received',
                                'right': singleMessage.status === 'sent',
                            }" @click="dropdown_message=!dropdown_message"
								v-for="(singleMessage , index) in contacts[currentIndex].messages  "
								:key="index"
							>
								<div class="message-item">
									<p>{{singleMessage.message}}</p>
								</div>

								<div class="dropdown_message "  v-show="dropdown_message"  >
									<ul class="dropdown-list">
										<li>Message info</li>
										<li  :class="{
											'invisible': index === currentIndex,
									
										}"
										@click="currentIndex = index">Delete message</li>
									</ul>
								</div>
							</li>
						</ul>
						
					</div>

					<div class="main__footer-reply">
						<div class="footer__replay-icon">
							<i class="fa-regular fa-face-smile"></i>
						</div>
						<div class="input__text-wrapper">
							<input
								class="input-text"
								type="text"
								placeholder="Scrivi messaggio"
								@keyup.enter="addMessage();"
								v-model.trim="messageToSend"
							/>
							<div v-if="subtimError" class="subtimError">
								<small>Devi inserire minimo 1 carattere</small>
							</div>
						</div>
						<div class="footer__replay-icon">
							<i class="fa-solid fa-microphone"></i>
						</div>
					</div>
				</main>
				<!-- finish main content  -->
			</div>
		</div>

		<script src="https://unpkg.com/vue@3"></script>
		<script src="js/app.js"></script>
	</body>
</html>
